{% extends 'layouts/main.html' %}
{% block title %}Create a Job{% endblock %}
{% block content %}
<form class="needs-validation" method="POST">
    <div class="form-group">
        <label for="job_name">Job Name</label>
        <input type="text" class="form-control" id="job_name" name="job_name"
            placeholder="Job name" required>
    </div>
    <div class="form-group">
        <label for="contact_name">Contact Name</label>
        <input type="text" class="form-control" id="contact_name" name="contact_name" placeholder="Contact Name" required>
    </div>
    <div class="form-group">
        <label for="contact_phone">Contact Phone</label>
        <input type="text" class="form-control" id="contact_phone" name="contact_phone" placeholder="Contact Phone" required>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
    </div>
    <div class="form-group">
        <label for="material">Material</label>
        <input type="text" class="form-control" id="material" name="material" placeholder="Material">
    </div>
    <div class="form-group">
        <label for="status">Status</label>
        <input type="text" class="form-control" id="status" name="status" placeholder="Status" required>
    </div>
    <div class="form-group">
        <label for="edge_finish">Edge Finish</label>
        <input type="text" class="form-control" id="edge_finish" name="edge_finish" placeholder="Edge Finish">
    </div>
    <div class="form-group">
        <label for="sinks">Sinks</label>
        <input type="text" class="form-control" id="sinks" name="sinks" placeholder="Sinks">
        <small id="sinks_help" class="form-text text-muted">Please enter a list of sink ids, such as [1,2]</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}