{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Inventory: </h1>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sink ID</th>
        <th scope="col">Description</th>
        <th scope="col">Count</th>
      </tr>
    </thead>
    <tbody>
      {% for item in inventory %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.sink_id}}</td>
        <td>{{item.description}}</td>
        <td>{{item.count}}</td>
        <td><a href="{{url_for('view_inventory_item', id=item.id)}}"><span class="bi bi-three-dots"></span></a>
          <a class="delete_inventory_item"><span class="bi bi-trash" data-id="{{item.id}}"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    const delete_buttons = document.querySelectorAll('.delete_inventory_item');
  
    for (let i = 0; i < delete_buttons.length; i++) {
      const delete_button = delete_buttons[i];
      delete_button.onclick = function (e) {
        const inventory_item_id = e.target.dataset['id'];
  
        fetch('/inventory/' + inventory_item_id + "/delete_inventory_item", {
          method: 'DELETE'
        }).then(function () {
          window.location.reload(true);
        });
      }
    }
  </script>

  {% endblock %}