{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
    <h1>Sinks: </h1>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for sink in sinks %}
      <tr>
        <th scope="row">{{sink.id}}</th>
        <td>{{sink.description}}</td>
        <td><a href="{{url_for('view_sink', id=sink.id)}}"><span class="bi bi-three-dots"></span></a>
          <a class="delete_sink"><span class="bi bi-trash" data-id="{{sink.id}}"></span></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endblock %}